* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color-dark: #080808;
  --second-bg-color-dark: #101010;
  --third-bg-color-dark: rgba(0,0,0,0.3);
  --text-color-dark: white;
  --main-color-dark: #ea580c;

  --bg-color-light: #ffffff;
  --second-bg-color-light: #dedede;
  --third-bg-color-light: rgba(255, 255, 255, 0.3);
  --text-color-light: rgb(0, 0, 0);
  --main-color-light: #0ca7ea;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color-dark);
  color: var(--text-color-dark);
}
body.light-theme{
  background: var(--bg-color-light);
  color: var(--text-color-light);
  --text-color: var(--text-color-light);
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: var(--third-bg-color);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  display: flex;
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover{
  transform: scale(1.1);
}

span{
  background: linear-gradient(
    270deg,
    #df8908 10%,
    #ff1d15 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text; /* Для поддержки WebKit браузеров */
}
body.light-theme span {
  background: linear-gradient(
    270deg,
    #0857df 10%,
    #8a15ff 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text; /* Для поддержки WebKit браузеров */
}

.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--main-color-dark);
  border-bottom: 3px solid var(--main-color-dark);
}
body.light-theme .navbar a:hover{
  color: var(--main-color-light);
  border-bottom: 3px solid var(--main-color-light);
}

.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: transparent; /* Убираем фон */
  border: none; /* Убираем границу, если она есть */
  cursor: pointer; /* Указываем, что это кнопка */
  color: var(--text-color); /* Цвет текста, можно использовать переменную */
  transition: 0.3s ease-in-out; /* Плавный переход для фона */
}
.gradient-btn:hover {
  background: rgba(255, 255, 255, 0.1); /*Легкий фон при наведении */
}

.firstName {
  margin-right: 0.5rem;
}

#menu-icon{
  font-size: 3.5rem;
  color: var(--text-color-dark);
}
#menu-icon.light-theme{
  color: var(--text-color-light);
}
